*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: solid 2px var(--focus-ring-color);
}

:focus:not(:focus-visible) {
  outline: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Tahoma, sans‑serif;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea {
  max-width: 100%;
}

h2 {
  margin: var(--sp3) 0;
  font-size: 3rem;
  font-weight: 700;
  color: black;
}

@media (min-width: 600px) {
  h2 {
    font-size: 4rem;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
