*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Tahoma, sans‑serif;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea {
  max-width: 100%;
}

h2 {
  margin: var(--sp3) 0;
  font-size: 4rem;
  font-weight: 700;
  color: black;
}
