.site-services {
  position: relative;
  padding: var(--sp4) 0;
}

@media (min-width: 400px) {
  .site-services {
    padding: var(--sp4) var(--sp2);
  }
}

@media (min-width: 750px) {
  .site-services {
    padding: var(--sp6) var(--sp4);
  }
}

.site-services__face-photo {
  display: none;
  position: absolute;
  bottom: 0;
  right: var(--sp);
  width: 50%;
}

@media (min-width: 750px) {
  .site-services__face-photo {
    display: block;
  }
}

.site-services__header {
  margin-top: 0;
}

.site-services_list {
  column-width: 20rem;
  column-gap: var(--sp3);
}

@media (min-width: 750px) {
  .site-services_list {
    width: 50%;
    margin-right: auto;
  }
}

.site-services__list-item {
  margin: 0 0 var(--sp);
  font-size: 1.8rem;
}

@media (min-width: 550px) {
  .site-services__list-item {
    margin-bottom: var(--sp2);
    font-size: 2rem;
  }
}
