.site-testimonials {
  min-height: 20rem;
  background-color: var(--blue-70);
}

.site-testimonials__container {
  position: relative;
  padding: var(--sp4) 0 ;
}

.site-testimonials__face-photo {
  display: none;
  position: absolute;
  bottom: 100%;
  right: var(--sp);
  width: 50%;
}

@media (min-width: 75rem) {
  .site-testimonials__face-photo {
    display: block;
  }
}

.site-testimonials__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-testimonials__item {
  display: flex;
  align-items: center;
  color: white;
}

.site-testimonials__quote {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 2rem;
  background-image: url('/img/quote.svg');
  background-repeat: no-repeat;;
  background-position: top left;
  background-size: 5rem;
}

@media (min-width: 40rem) {
  .site-testimonials__quote {
    padding: 0 2rem 0 6rem;
    background-position: top 1rem left;
  }
}

@media (min-width: 80rem) {
  .site-testimonials__quote {
    padding: 0 4rem 0 8rem;
  }
}

@media (min-width: 80rem) {
  .site-testimonials__quote {
    padding: 0 4rem 0 12rem;
    background-size: 10rem;
    background-position: top left;
  }
}

.site-testimonials__quote-quote {
  padding: var(--sp2) 0 var(--sp2);
  font-size: 3rem;
  font-weight: bold;
}

@media (min-width: 80rem) {
  .site-testimonials__quote-quote {
    padding: var(--sp4) 0 var(--sp2);
    font-size: 4rem;
  }
}

.site-testimonials__author {
  margin-left: auto;
  font-size: 2rem;
  font-style: normal;
}

@media (min-width: 80rem) {
  .site-testimonials__author {
    font-size: 3rem;
  }
}

.site-testimonials__author::before {
  content: '-\0020\0020';
  white-space: pre;
}

.site-testimonials_img {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

@media (min-width: 40rem) {
  .site-testimonials_img {
    width: 10rem;
    height: 10rem;
  }
}


@media (min-width: 80rem) {
  .site-testimonials_img {
    width: 15rem;
    height: 15rem;
  }
}
