.site-services {
 padding: var(--sp4) 0;
}

@media (min-width: 40rem) {
  .site-services {
    padding: var(--sp4) var(--sp2);
  }
}


@media (min-width: 75rem) {
  .site-services {
    padding: var(--sp4);
  }
}

.site-services__header {

}

.site-services_list {
  font-size: 2rem;
  column-width: 20rem;
  column-gap: var(--sp3);
}

@media (min-width: 75rem) {
  .site-services_list {
    width: 50%;
    margin-right: auto;
  }
}

.site-services__list-item {
  margin: 0 0 var(--sp2);
}
