.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: var(--sp3) 0;
}

@media (min-width: 110rem) {
  .site-header {
    justify-content: space-between;
    align-items: center;
  }
}

.site-header__logo
}
