.site-nav {
  margin: var(--sp1) 0
}

.site-nav__menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__menu-item {

}

.site-nav__menu-link {
  display: block;
  padding: var(--sp2) 0.5rem;
  color: var(--blue-50);
  text-decoration: none;
  font-weight: 700;
  font-size: 1.6rem;
  transition: color 0.2s;
}

.site-nav__menu-link:hover {
  color: #79A8D2;
}

@media (min-width: 40rem) {
  .site-nav__menu-link {
    padding: var(--sp2) var(--sp);
    font-size: 1.8rem;
  }
}

@media (min-width: 50rem) {
  .site-nav__menu-link {
    font-size: 2.4rem;
  }
}
