.site-testimonials {
  min-height: 200px;
  background-color: var(--blue-70);
}

.site-testimonials__container {
  position: relative;
  padding: var(--sp4) 0 ;
}

.site-testimonials__face-photo {
  display: none;
  position: absolute;
  bottom: 100%;
  right: var(--sp);
  width: 50%;
}

@media (min-width: 750px) {
  .site-testimonials__face-photo {
    display: block;
  }
}

.site-testimonials__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-testimonials__item {
  display: flex;
  align-items: center;
  color: white;
}

.site-testimonials__quote {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  background-image: url('/img/quote.svg');
  background-repeat: no-repeat;;
  background-position: top left;
  background-size: 50px;
}

@media (min-width: 400px) {
  .site-testimonials__quote {
    padding: 0 20px 0 60px;
    background-position: top 10px left;
  }
}

@media (min-width: 800px) {
  .site-testimonials__quote {
    padding: 0 40px 0 80px;
    background-position: top 10px left;
  }
}

@media (min-width: 800px) {
  .site-testimonials__quote {
    padding: 0 40px 0 120px;
    background-size: 100px;
    background-position: top left;
  }
}

.site-testimonials__quote-quote {
  padding: var(--sp2) 0 var(--sp2);
  font-size: 30px;
  font-weight: bold;
}

@media (min-width: 800px) {
  .site-testimonials__quote-quote {
    padding: var(--sp4) 0 var(--sp2);
    font-size: 40px;
  }
}

.site-testimonials__author {
  margin-left: auto;
  font-size: 20px;
  font-style: normal;
}

@media (min-width: 800px) {
  .site-testimonials__author {
    font-size: 30px;
  }
}

.site-testimonials__author::before {
  content: '-\0020\0020';
  white-space: pre;
}

.site-testimonials_img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

@media (min-width: 400px) {
  .site-testimonials_img {
    width: 100px;
    height: 100px;
  }
}


@media (min-width: 800px) {
  .site-testimonials_img {
    width: 150px;
    height: 150px;
  }
}
