.site-photos {
  padding: var(--sp8) var(--sp4);
}

.site-photos__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: var(--sp3);
}

:where(.site-photos__list:is(:hover, :focus-within)) .site-photos__link {
  filter: brightness(80%);
}

/* This is some Safari 🐮 💩 right here. */
@media (min-width: 576px) {
  @supports not (aspect-ratio: 1) {
    .site-photos__list {
      grid-template-rows: 20rem 20rem 20rem 20rem 20rem 20rem 20rem 20rem 20rem 20rem;
    }

    .site-photos__item {
      overflow: hidden;
    }
  }
}

.site-photos__item {
  margin: 0;
  padding: 0;
}

.site-photos__link {
  display: block;
  transition: filter 0.2s;
}

.site-photos__link:is(:hover, :focus) {
  filter: brightness(100%);
}

.site-photos__link:focus {
  outline-offset: 4px;
  outline-width: 3px;
}

.site-photos__thumb {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

/*
 * Lightbox CSS overrides
 */

.glightbox-mobile .glightbox-container .gslide-desc {
  color: white;
}

.glightbox-mobile .glightbox-container .gslide-desc .desc-more {
  opacity: 1;
}

.glightbox-clean .gslide-desc {
  font-size: 3em;
}

.glightbox-container .gslide {
  user-select: auto;
}

.gbtn.focused {
  --focus-ring-color: white;
  outline: solid 2px var(--focus-ring-color);
}
