.site-hero {
  position: relative; /* anchor hero image. */
  height: 50rem;
}

@supports (aspect-ratio: 2 / 1) {
  .site-hero {
    height: revert;
    aspect-ratio: 2 / 1;
  }
}

.site-hero__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.site-hero__cta {
  position: absolute;
  bottom: var(--sp3);
  left: var(--sp3);
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 2.4rem;
}

@media (min-width: 800px) {
  .site-hero__cta {
    font-size: 3rem;
  }
}

.site-hero__cta-link {
  display: block;
  margin-bottom: 0.5rem;
  padding: var(--sp) var(--sp2);
  border: solid 1px white;
  border-radius: 10px;
  background-color: var(--green-40);
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s;
}

.site-hero__cta-link:hover {
  background-color: #26BE23;
}

@media (min-width: 800px) {
  .site-hero__cta-link {
    padding: var(--sp2) var(--sp5);
  }
}

.site-hero__cta-phone {
}
